.idea/
code python/qrcode_camera/work with sevice account + key/keys/
code python/qrcode_camera/work with oauth + token/token_n_oauth/
code python/qrcode_camera/work with oauth + token/captures/
code python/qrcode_camera/work with sevice account + key/__pycache__/
!code python/qrcode_camera/work with oauth + token/captures/.keep
